<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767546129898-ejql6vvdnnol8rhmjs2ceghdb9hc0n4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767546129898-ejql6vvdnnol8rhmjs2ceghdb9hc0n4d</string>
	<key>API_KEY</key>
	<string>AIzaSyBftURRWNwGC2cqpSfT6L2m5DpcO6imTyA</string>
	<key>GCM_SENDER_ID</key>
	<string>767546129898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FitSpace</string>
	<key>PROJECT_ID</key>
	<string>fitspace-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fitspace-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767546129898:ios:0ccbf0b7f52df1f35c4693</string>
	<key>DATABASE_URL</key>
	<string>https://fitspace-app.firebaseio.com</string>
</dict>
</plist>